@tailwind base;
@tailwind components;
@tailwind utilities;
.centerSom {
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.centerVertical {
  @apply top-1/2 transform -translate-y-1/2;
}
.centerHorizontal {
  @apply left-1/2 transform -translate-x-1/2;
}
